.window {
	border:10px double  #c49426;
	border-radius: 10px;
	background: rgba(129, 217, 105, 0.85);
	width: 50em;
	height: 50em;

	margin-top: 2em;

	display: flex;
	flex-direction: column;
	justify-content: center;

}

.loading-text {
	font-size: 3rem;
	font-family: "Droid Sans Fallback", sans-serif;
	color: #56451a;
;
}